<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>lVvviPsfIQcrkbKINGPQI1/urX+U0hSm85l1LexiKBN6dm3BjssQK3Mn3aCEVlFaZikqDfXygei6F/bQFtX2wc5IViIIjERQP9vUvGritFXNxa3lWM9HgDn57JsMg4ryLp5Ya8JZvz0GbgelDOfPP7fnWRn78Q7j6Q9zKnWMT7Y=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>NUHTCnBSeVHL5j2dLPOBJvOYD24HcN64C70X9mee5vK/uEWSKS+W7ErZ+rwZPcBq4jotg6PX6k6ybSb4pNjHlJMt4ntDJ8jYspGDPqQdAs/S1gv1bWLM/4KVUW3sthhivfD470ekKG3AsD1dJ0C94ntLyG+rqqf+h/pJ8d2Kma62MML6goY7Pia/9tfiEU8lVLVTbssaXqBpkC9zT0dJamaN88eODdDbzcCVppI/YfFSSdFauMSRB9luUJDwaY3qhB+cgt84DjrevJIojlVb5g==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
  <customErrors mode="Off"/>
    <authorization>
      <allow users="*"/>
    
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
   
    </httpProtocol>
  </system.webServer>
<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>